<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>
</head>
<body>
    <h1>Here we use a for loop a list</h1>
    <ul>
        {% for robot in robots %}
        <li>{{robot}}</li>
        {% endfor %}    
    </ul>
    <p>we can also add if/else statements</p>
    {% if 'Cyber in robots' %}
    <p>사이버 로봇을 찾았다.</p>
    {% else %}
    <p>사이버는 리스트에 없다.</p>
    {% endif %}

    <img src="../static/robot.png" width="300" height="340">
</body>
</html>