<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>
</head>
<body>
    <h1>Hello Template</h1>
    <h2>Hello Robot : {{name}}</h2>
    <h2>List Eample : {{mylist}}</h2>
    <h2>Indexing the list for the first letter : {{mylist[0]}}</h2>
    <h2>Robot name for dictionary : {{mydic['robot_name']}}</h2>
    <img src="../static/robot.png" width="300" height="400">
</body>
</html>