<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h3>학생추가</h3>
        <form action="" method="POST">
            <table>
                <tr><th>Name</th><td><input type="type" name="name"></td></tr>
                <tr><th>City</th><td><input type="type" name="city"></td></tr>
                <tr><th>Address</th><td><input type="type" name="addr"></td></tr>
                <tr><th>PIN</th><td><input type="type" name="pin"></td></tr>
                <tr><th><input type="submit" value="submit"></th></tr>
            </table>
        </form>
    </body>
</html>