<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <form action="http://localhost:/result" method="POST">
        <p>Name <input type="text" name="name"/></p>
        <p>Art <input type="text" name="art"/></p>
        <p>Korean <input type="text" name="korean"/></p>
        <p>Math <input type="text" name="math"/></p>
        <p><input type="submit" name="submit"/></p>
    </form>
</body>
</html>