<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div class="login">
            <h1> Predict IRIS</h1>
            <form action="{{url_for('predict')}}" method="POST">
                 <input type="text" name="sepal length"  placeholder="sepal length (cm)" required="required"/>
                 <input type="text" name="sepal width"  placeholder="sepal width (cm)" required="required"/>
                 <input type="text" name="petal length"  placeholder="petal length (cm)" required="required"/>
                 <input type="text" name="petal width"  placeholder="petal width (cm)" required="required"/>
                 <button type="submit" class="btn btn-primary btn-block btn-large ">Predict</button>
            </form>
            <br>
            <br>
            {{predict_text}}
        </div>
        
    </body>
</html>